html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/construction.png') bottom center fixed no-repeat;
	height: 100%;
	margin: 0;
	padding: 0;
}

section {
	width: 760px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	display: block;
}


article {
	position: absolute;
	width: 200px;
	right: 0;
	bottom: 310px;
	text-align: right;
	margin: 0;
	padding: 0;
}

article img {
	width: 200px;
	height: auto;
	margin: 0;
	padding: 0;
}

article a {
	color: #CC3333;
	text-decoration: none;
	font-family: 'Helvetica', 'Arial', sans-serif;
	display: block;
	margin-bottom: 6px;
}

article a:hover {
	text-decoration: underline;
}
