<!DOCTYPE html>
<html>
    <head>
    		{% block metatags %}
        	<meta charset="UTF-8" />
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
