#header .section {
	width: auto;
	margin: 0 10px;
}

#main-wrapper {
	width: auto;
	margin: 0 10px;
}

div.tabs {
	width: auto;
	margin: 0 10px;
}

.messages, .messages.status, .messages.warning, .messages.error {
	width: auto;
}