/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.clear {
	clear: both;
}

/* Basic Styles */
body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

div {
	margin: 0;
	padding: 0;
}

img {
	margin: 0;
	padding: 0;
	border: none;
}

input {
	margin: 0;
}

a {
	outline: none;
	color: #CC3333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

*:focus {outline: none;}

.region-content {
	clear: both;
	padding: 1px 0 0 0;
}

textarea {
	margin: 0;
	padding: 0;
	display: block;
}

/* Advanced Styles */
#page-wrapper {
	width: 100%;
}

#page {
	width: 100%;
}

#header {
	width: 100%;
	background-color: #eee;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

#header .section {
	width: 503px;
	margin: 0 auto;
}

#logo img {
	padding: 8px 0 0 0;
	width: 160px;
	height: auto;
}

#main-wrapper {
	width: 503px;
	margin: 0 auto;
}

#term-header, #node-header {
	border-bottom: 1px solid #ddd;
}

.not-front.not-logged-in #term-header {
	padding-bottom: 4px;
	margin-bottom: 8px;
}

.not-front.node-type-page #node-header {
	padding-bottom: 4px;
}

.not-front.logged-in #term-header {
	border-bottom: none;
}

.title {
	display: block;
	float: left;
	margin: 0 4px 0 0;
}

.title h1, .title h2, .title h3 {
	margin: 0;
	line-height: 100%;
}

.node {
	position: relative;
}

#comments {
	margin: 0;
	clear: both;
}

.rendercontent {
	clear: both;
}

#showusers {
	display: block;
	height: 35px;
	width: 100%;
	margin: 0 0 8px 0;
}

.webkit #showusers.notfull {
	margin-top: 6px;
}

.webkit #showusers.full {
	margin-top: 3px;
}

#showusers img {
	margin-left: 4px;
	width: 35px;
	height: 35px;
}

#showusers.notfull {
	width: auto;
	height: auto;
	float: left;
	margin: 4px 0 0 0;
}

#showusers.notfull a img {
	margin-left: 4px;
	width: 23px;
	height: 23px;
}


#showusers a:first-child img {
	margin-left: 0;
}

#content-header {
	margin: 10px 0 10px 0;
}

.citytitle {
	display: inline;
	padding: 0;
}

.citytitle.second {
	font-size: 1.1em;
	color: #999;
}

.citytitle.third {
	font-size: 1.1em;
	color: #666;
}

ul.links.inline {
	display: block;
	clear: both;
}

/* Form Styles */
#edit-actions {
	margin: 0;
	padding: 0;
}

input[type='submit'] {
	clear: left;
	float: left;
	margin: 0;
	background-color:#fff!important;
	border: 1px solid #CC3333;
	color: #CC3333;
	font-weight: bold;
	cursor: pointer;
	font-size: 12px;
}

input[type='submit']:hover {
	background-color:#CC3333!important;
	color: #ffffff;
}

/* Tooltip */
.tooltip {
	display:none;
	background:#000000;
	font-size:12px;
	height:auto;
	width:auto;
	padding: 5px 8px;
	margin: 0 0 10px 0;
	color:#fff;	
}

/* Post Form Styles */
#post-form {
	margin-top: 4px;
}

#post-node-form #edit-actions {
	clear: both;
	float: right;
}

#post-node-form .form-type-textarea {
	margin: 0;
	padding: 0;
}

#post-node-form #edit-body-und-0-value {

	width: 443px;
	font-size: 14px;
	line-height: 18px;
	padding: 5px;
	height: 50px;
	resize: none;
	border: 1px solid #999;
	float: right;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

#post-form a.avatar {
	float: left;
}

/* Post Styles */
.page-node.node-type-post .user-picture {
	margin: 3px 0 0 0;
}

.page-node.node-type-post .node-content-wrapper {
	width: 443px;
	float: right;
}

.page-node.node-type-post .node-post {
	float: left;
}

.page-node.node-type-post .author-info {
	font-weight: bold;
}

.page-node.node-type-post .field-name-body {
	color: #333;
}

.page-node.node-type-post .field-name-body p {
	margin: 0;
	padding: 1em 0 0 0;
}

.page-node.node-type-post .field-name-body p:first-child {
	padding: 0;
}

.page-node.node-type-post .date  {
	height: 0.8em;
	margin-top: -0.3em;
}

.page-node.node-type-post .date a {
	font-size: 0.8em;
	line-height: 0.8em;
	color: #bbb;
}

.page-node.node-type-post .comment-wrapper {
	margin: 0;
	padding: 0.7em 0 0 0;
}

/* Login Form */
#user-login-form {
	clear: both;
	padding: 10px 0 0 0;
	position: relative;
	width: 385px;
}
#user-login-form #edit-name, #user-login-form #edit-pass {
	font-size: 14px;
	line-height: 20px;
	padding: 0 5px;
	border: 1px solid #999;
	width: 10em;
}
#user-login-form .form-item-name {
	float: left;
	margin: 0 15px 0 0;
}
#user-login-form .form-item-pass {
	float: left;
	margin: 0;
}
#user-login-form .item-list {
	clear: left;
	margin: 0;
}
#user-login-form .item-list ul {
	list-style-type: none;
	padding: 3px 0 0 0;
}
#user-login-form .item-list ul li {
	float: left;
	font-size: 12px;
	margin: 0 58px 0 0;
}


/* Comment Form */
#comments .form-type-textarea {
	margin-top: 0;
}

#comments #edit-comment-body-und-0-value {
	width: 405px;
	font-size: 14px;
	line-height: 18px;
	padding: 5px;
	height: 32px;
	resize: none;
	border: 1px solid #999;
	float: right;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

#comment-form #edit-actions {
	float: right;
}

#commentform-wrapper a.avatar {
	float: left;
}

#commentform-wrapper a.avatar img {
	width: 32px;
	height: 32px;
}

/* Single Comment */
.comment .user-picture {
	float: left;
}

.comment .author {
	float: right;
	width: 443px;
}

.comment .content {
	clear: right;
	float: right;
	width: 443px;
}

.comment .content p {
	margin: 0;
}

.comment .content p:first-child {
	margin: 0;
}

.comment ul.links {
	clear: right;
	float: right;
	width: 443px;
	margin: 0;
	padding: 0;
	font-size: 0.7em;
}

.comment ul.links li:first-child {
	margin-left: 0;
	padding-left: 0;
}

.comment ul.links li a {
	color: #999;
}

.indented {
	margin-left: 60px;
	font-size: 0.8em;
}

.indented .comment .author {
	width: 401px;
}

.indented .comment .content {
	width: 401px;
}

.indented .comment ul.links {
	width: 401px;
}

.indented .user-picture {
	float: left;
}

.comment .user-picture img {
	height: 32px;
	width: 32px;
}

/* Tabs */
div.tabs {
	width: 503px;
	margin: 0 auto;	
}

ul.primary {
	border-bottom: none;
	margin: -2px 0 0 0;
	padding: 0;
}

ul.primary li {
	margin: 0;
	padding: 0;
	border: none;
	display: block;
	float: left;
}

ul.primary li a {
	border: none;
	border-top: 1px solid #ddd;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #eee;
	margin: 0;
	color: #000;
}

ul.primary li a:hover {
	border: none;
	border-top: 1px solid #fff;
	background-color: #fff;
}

ul.primary li a.active {
	border: none;
	border-top: 1px solid #fff;
}

ul.primary li a.active:hover {
	border: none;
	background-color: #fff;
	border-top: 1px solid #fff;
}

/* Messages */
.messages.status, div.error {
	width: 443px;
	margin: 0 auto;
}
