{% extends '::place/layout.html.twig' %}

{% block content %}
  <div ng-controller="NearbyController">
    <div ng-show="error" class="alert alert-danger ng-hide" role="alert">
      {{ ng.curly('error') }}
    </div>
    <h1>{{ ng.curly('hello') }}</h1>
  </div>
{% endblock %}
