{% extends '::place/layout.html.twig' %}

{% block content %}
  <div ng-controller="NearbyController">
    <div ng-show="error" class="alert alert-danger ng-hide" role="alert">
      {{ ng.curly('error') }}
    </div>
    {# @TODO Display some default "Waiting for response..." text #}
    <h1 ng-show="hello" class="ng-hide">{{ ng.curly('hello') }}</h1>
  </div>
{% endblock %}
