{% extends 'ChurchUserBundle::layout.html.twig' %}

{% block body_class %}login-register{% endblock %}

{% block content %}

  <div class="login">
    <form action="{{ path('church_user_login_check') }}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password</label>
        <input type="password" id="password" name="_password" />

        <input type="submit" value="Login" />
    </form>
  </div>

  <div class="register">
    {{ render(controller("ChurchUserBundle:Registration:email")) }}
  </div>

{% endblock %}
